@import "tailwindcss";

.max-w-8xl {
    max-width: 90rem;
}

@layer base {

    h1 {
        @apply text-4xl text-white mb-8 mt-3 tracking-tight
    }

    h2 {
        @apply text-xl font-normal text-white mt-12
    }

    h3 {
        @apply text-base font-normal text-gray-200 
    }

    p {
        @apply text-gray-300 text-xl leading-relaxed font-sans font-extralight my-4 tracking-wide
    }
}